<a href="https://colab.research.google.com/github/thanhdtnguyen/My-Python-Workbook/blob/master/recommender-workbook2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Machine Learning Based Recommendation Systems

###Classification-based collaborative filtering

In [ ]:
import numpy as np
import pandas as pd
import sklearn

from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

In [ ]:
bank_full = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation System/Ex_Files_Intro_Python_Rec_Systems/Exercise Files/02_01/bank_full_w_dummy_vars.csv')
bank_full.head()

   age  ... divorced
0   58  ...                            0
1   44  ...                            1
2   33  ...                            0
3   47  ...                            0
4   33  ...                            1

[5 rows x 37 columns]

In [ ]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45211 non-null  int64
 1   job                           45211 non-null  object
 2   marital                       45211 non-null  object
 3   education                     45211 non-null  object
 4   default                       45211 non-null  object
 5   balance                       45211 non-null  int64
 6   housing                       45211 non-null  object
 7   loan                          45211 non-null  object
 8   contact                       45211 non-null  object
 9   day                           45211 non-null  int64
 10  month                         45211 non-null  object
 11  duration                      45211 non-null  int64
 12  campaign                      45211 non-null  int64
 13  pdays                         45211 non-null  int64
 14  previous                      45211 non-null  int64
 15  poutcome                      45211 non-null  object
 16  y                             45211 non-null  object
 17  y_binary                      45211 non-null  int64
 18  housing_loan                  45211 non-null  int64
 19  credit_in_default             45211 non-null  int64
 20  personal_loans                45211 non-null  int64
 21  prev_failed_to_subscribe      45211 non-null  int64
 22  prev_subscribed               45211 non-null  int64
 23  job_management                45211 non-null  int64
 24  job_tech                      45211 non-null  int64
 25  job_entrepreneur              45211 non-null  int64
 26  job_bluecollar                45211 non-null  int64
 27  job_unknown                   45211 non-null  int64
 28  job_retired                   45211 non-null  int64
 29  job_services                  45211 non-null  int64
 30  job_self_employed             45211 non-null  int64
 31  job_unemployed                45211 non-null  int64
 32  job_maid                      45211 non-null  int64
 33  job_student                   45211 non-null  int64
 34  married                       45211 non-null  int64
 35  single                        45211 non-null  int64
 36  divorced                      45211 non-null  int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [ ]:
x = bank_full.iloc[:,18:37].values 

# .ix is deprecated -> use .iloc (lab 2.1)

y = bank_full.iloc[:,17].values

In [ ]:
LogReg = LogisticRegression()
LogReg.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
new_user = np.array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1])
new_user = new_user.reshape(1,-1)

y_pred = LogReg.predict(new_user)
y_pred

array([0])

###Model-based collaborative filtering systems

In [ ]:
# SVD Matrix Factorization

from sklearn.decomposition import TruncatedSVD

In [ ]:
# preparing the data

columns = ['user_id', 'item_id', 'rating', 'timestamp']
frame = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation System/Ex_Files_Intro_Python_Rec_Systems/Exercise Files/u.data', sep='\t', names=columns)
frame.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [ ]:
columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action',
           'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documetary', 'Drama', 'Fantasy', 'Film-Noir',
           'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation System/Ex_Files_Intro_Python_Rec_Systems/Exercise Files/u.item', 
                     sep='|', names=columns, encoding='latin,-1')

In [ ]:
combined_movies_data = pd.merge(frame, movies, on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp  ... Sci-fi Thriller  War Western
0      196      242       3  881250949  ...      0        0    0       0
1       63      242       3  875747190  ...      0        0    0       0
2      226      242       5  883888671  ...      0        0    0       0
3      154      242       3  879138235  ...      0        0    0       0
4      306      242       5  876503793  ...      0        0    0       0

[5 rows x 27 columns]

In [ ]:
combined_movies_data.groupby('item_id')['rating'].count().sort_values(ascending=False).head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [ ]:
# Filter = combined_movies_data['item_id']==50
# combined_movies_data[filter]['movie title'].unique()

In [ ]:
# building a utility matrix

ratings_crosstab = combined_movies_data.pivot_table(values='rating', index='user_id', columns='movie title', fill_value=0)
ratings_crosstab.head()

movie title  'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                                 ...
1                                    0  ...                                   0
2                                    0  ...                                   0
3                                    0  ...                                   0
4                                    0  ...                                   0
5                                    0  ...                                   0

[5 rows x 1664 columns]

In [ ]:
# transposing the matrix

ratings_crosstab.shape

(943, 1664)

In [ ]:
x = ratings_crosstab.values.T
x.shape

(1664, 943)

In [ ]:
# decomposing the matrix

SVD = TruncatedSVD(n_components=12, random_state=17)

resultant_matrix = SVD.fit_transform(x)
resultant_matrix.shape

(1664, 12)

In [ ]:
# generating a correlation matrix

corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(1664, 1664)

In [ ]:
# isolating Star Wars from the correlation matrix

movies_names = ratings_crosstab.columns
movies_list = list(movies_names)

star_wars = movies_list.index('Star Wars (1977)')
print(star_wars)

1398

In [ ]:
corr_star_wars = corr_mat[star_wars]
corr_star_wars.shape

(1664,)

In [ ]:
# recommending a highly correlated movie

list(movies_names[(corr_star_wars < 1.0) & (corr_star_wars > 0.9)])

['Die Hard (1988)',
 'Empire Strikes Back, The (1980)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Return of the Jedi (1983)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Toy Story (1995)']

In [ ]:
list(movies_names[(corr_star_wars < 1.0) & (corr_star_wars > 0.95)])

['Return of the Jedi (1983)']

###Content-Based Recommender

In [ ]:
# KNN Algorithm

from sklearn.neighbors import NearestNeighbors

In [ ]:
cars = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation System/Ex_Files_Intro_Python_Rec_Systems/Exercise Files/02_03/mtcars.csv')
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

           car_names   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [ ]:
t = [15, 300, 160, 3.2]

x = cars[['mpg', 'disp', 'hp', 'wt']]
x[0:5]

    mpg   disp   hp     wt
0  21.0  160.0  110  2.620
1  21.0  160.0  110  2.875
2  22.8  108.0   93  2.320
3  21.4  258.0  110  3.215
4  18.7  360.0  175  3.440

In [ ]:
nbrs = NearestNeighbors(n_neighbors=1).fit(x)

In [ ]:
print(nbrs.kneighbors([t]))

(array([[10.77474942]]), array([[22]]))

In [ ]:
cars[22:23]

      car_names   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2

###Evaluating Recommendation Systems

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [ ]:
bank_full = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Recommendation System/Ex_Files_Intro_Python_Rec_Systems/Exercise Files/02_04/bank_full_w_dummy_vars.csv')
bank_full.head()

   age  ... divorced
0   58  ...                            0
1   44  ...                            1
2   33  ...                            0
3   47  ...                            0
4   33  ...                            1

[5 rows x 37 columns]

In [ ]:
x = bank_full.iloc[:,18:37].values
y = bank_full.iloc[:,17].values

In [ ]:
LogReg = LogisticRegression()
LogReg.fit(x,y)

y_pred = LogReg.predict(x)

In [ ]:
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.99      0.94     39922
           1       0.67      0.17      0.27      5289

    accuracy                           0.89     45211
   macro avg       0.79      0.58      0.61     45211
weighted avg       0.87      0.89      0.86     45211